/* Colors */

$white: #fff;
$black: #000;
$dark-grey: #444;
$very-dark-grey: #262626;
$light-grey: #CBCBCB;
$very-light-grey: #ECECEC;

/* Fonts */

$heading-font: 'Open Sans Condensed', sans-serif;
$label-font: 'Ubuntu', sans-serif;
$p-font: 'Roboto', sans-serif;
$primary-font-color: $dark-grey;
$visited-link: $light-grey;